body {
    font: 20px Arial;
    background-color: blanchedalmond;
}

section#base{
    width: 80%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.185);
    background-color: white;
    
}
input#sendButton {
    margin: 20px auto;
    display: block;
}
