body {
    text-align: center;
    font: 20px Arial;
    background-color: blanchedalmond;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 9px 8px 9px rgba(0, 0, 0, 0.185);
    padding: 10px;
    border-radius: 15px;
}

img {
    cursor: pointer;
    display: block;
    margin: 10px auto;
}